/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
.parent{
    -fx-background-color: white;
}
.side{
    -fx-background-color: #6747CD;
}
.loginBtn{
    -fx-background-color: #6747CD;
    -fx-text-fill: #FFF;
    -fx-background-radius: 3px;
}
.loginBtn:hover{
    -fx-background-color: transparent;
    -fx-text-fill: #6747CD;
    -fx-border-color: #6747CD;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;

}
.closeBtn{
    -fx-fill: #545454;
}
.closeBtn:hover{
    -fx-fill: #ff6666;
}
.registration{
    
    -fx-cursor: hand;
}
.backBtn{
    -fx-fill:#545454;
}
.backBtn:hover{
    -fx-fill:#ff6666;
}
.dialog-panel{
    -fx-border-color: bisque;
    -fx-text-alignment: center;
    -fx-text-fill: blue;
}
